{{#if asignatura}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr class="text-center">
        <th>Num.</th>
        <th>Nombre</th>
        <th>Creditos</th>
        <th>Horas</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each asignatura}}
        <tr>
          <th>{{@index}}</th>
          <td>{{nombre}}</td>
          <th>{{creditos}}</th>
          <th>{{horas}}</th>
          <td>
            {{#if opcion}}
              <a href="/asignatura/{{_id}}/status" class="btn btn-warning">No
                Disponible</a>
            {{else}}
              <a
                href="/asignatura/{{_id}}/status"
                class="btn btn-success"
              >Disponible</a>
            {{/if}}
            <a
              href="/asignatura/{{_id}}/update"
              class="btn btn-info"
            >Actualizar</a>
            <a
              href="/asignatura/{{_id}}/delete"
              class="btn btn-danger"
            >Eliminar</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="h-100 d-flex aling-items-center justify-content-center">
    <div class="text-center text-white">
        <h1>No hay Asignatura</h1>
      <img src="/icons/file.png" class="w-75" />
    </div>
  </div>
{{/if}}