{{#if profesor}}
<table class="table table-bordered table-hover table-dark">
    <thead>
        <tr class="text-center">
            <th>Num.</th>
            <th>RFC</th>
            <th>Nombre</th>
            <th>Paterno</th>
            <th>Materno</th>
            <th>fechaNac</th>
            <th>Direccion</th>
            <th>Celular</th>
            <th>Profesion</th>
            <th>numEmpleado</th>
            
            
        </tr>
    </thead>
    <tbody>
        {{#each profesor}}
            <tr>
                <th>{{@index}}</th>
                <th>{{rfc}}</th>
                <td>{{nombre}}</td>
                <th>{{paterno}}</th>
                <th>{{materno}}</th>
                <th>{{fechaNac}}</th>
                <th>{{direccion}}</th>
                <th>{{celular}}</th>
                <th>{{profesion}}</th>
                <th>{{numEmpleado}}</th>
                
                <td>
                    {{#if opcion}}
                        <a href="/profesor/{{_id}}/status" class="btn btn-warning">No Disponible</a>
                    {{else}}
                        <a href="/profesor/{{_id}}/status" class="btn btn-success">Disponible</a>
                    {{/if}} 
                    <a href="/profesor/{{_id}}/update" class="btn btn-info">Actualizar</a>
                    <a href="/profesor/{{_id}}/delete" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="text-center"><h1>No hay profesor</h1>
    <img src="" alt="">
</div> 
{{/if}}